:root{
  --color: #ff523b;
  --radial: radial-gradient(#fff, #ffd6d6);
  --para-color: #8a8a8a;
  --hover: #563434;
}
.carts{
  padding: 3rem 3rem;
  display: flex;
  justify-content: space;
}
.carts > div{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  text-align: center;
}
.carts .color{
  background:var(--color);
  text-align: center;
}
.item .item-image{
  width: 70px;
  height: 80px;
}
.item{
  display: flex;
}
.item .item-text{
  padding-left: 10px;
}
.item-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
